@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nothing+You+Could+Do&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100%;
}

nav {
    margin-top: 1rem;
}
 .nav-button {
   width: 160px;
   height: 55px;
   color: white;
   background-color: #0F2A44;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   padding:14px ;
 }

 .logo-name {
   font-family: 'poppins', sans-serif;
   font-size: 17px;
   color: white;
   cursor: pointer;
 }

 .navbar-brand{
   display: flex;
   align-items:center;
   justify-content: center;
   flex-direction: column;
 }

 h1 {
    width: 900px;
    padding-top: 7rem;
    text-align: center;
    margin-left: 8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
 }

 .text1 {
    font-family: 'Nothing You Could Do', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: white;
 }

 .text2 {
    color: #1E7DDB;
    font-weight: 700;
 }

 .text {
    color: white;
 }

 .text3 {
  width: 640px;
  height: 72px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #E3E3E3;
  padding-top: 1rem;
  margin-left: 15rem;
 }

 .btn1 {
    width: 261px;
    height: 55px;
    color: white;
    background-color: #0F2A44;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 4rem;
    text-decoration: none;
    padding: 10px;
 }

 form {
  width: 872px;
  margin-left: 28rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
 }

 h3 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
 }

 .form-title {
   margin-top: 2rem;
 }

 .form-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
 }

 #name {
    padding: 0.5rem;
    width: 872px;
    height: 56px;
    padding: 18px, 806px, 17px, 16px;
    border-radius: 4px;
    border: 1px;
    background-color: #333333;
 }

 #Phone {
    padding: 0.5rem;
    width: 872px;
    height: 55px;
    padding: 18px, 806px, 17px, 16px;
    border-radius: 4px;
    border: 1px;
    background-color: #333333;
 }

 #Email {
    padding: 0.5rem;
    width: 872px;
    height: 55px;
    padding: 18px, 806px, 17px, 16px;
    border-radius: 4px;
    border: 1px;
    background-color: #333333;
 }

 #message {
    padding: 0.5rem;
    width: 872px;
    height: 190px;
    border-radius: 4px;
    padding: 10px 10px 10rem;
    border: 1px;
    background-color: #333333;
 }

 .field {
   padding: 0.5rem;
   align-items: center;
   justify-content: center;
 }

 #button {
  width: 872px;
  height: 55px;
  padding: 14px, 365px, 14px, 365px;
  border-radius: 2px;
  background-color: #0F2A44;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
 }

 .content {
   margin-top: 12rem;
   width: 640px;
   height: 72px;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   line-height: 30px;
   letter-spacing: 0em;
   text-align: center;
   color: #E3E3E3;
   margin-left: 15rem;
 }

 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 2rem;
 }

 .message {
   width: 100%;
   position: relative;
   margin-bottom: 60px;
   display: flex;
   justify-content: center;
 }
 
 .message .success {
   font-size: 15px;
   font-weight: bolder;
   color: #04396d;
   display: none;
 }
 
 .seccess {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
 }
 
 .check-icon img {
   width: 50px;
   height: 50px;
 }

 